{% extends "layout.html" %}
{% block content %}
 <header class="masthead" style="background-image: url('{{ url_for('static', filename='anab.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Diving into our works</h1>
            <span class="subheading"> </span>
          </div>
        </div>
      </div>
    </div>
  </header>

<main class="container">

<p>
    <h1 class="my-profile"> </h1>
    <a name="bio"> <h2 class="biog">Intro</h2></a>
    Birthed in 2023 OFC is here to empower communities by leveraging data and analytics to 
    navigate the ever changing  dynamics of life.
</p>
    <h2 class="biog"><a name="home_wrt"> Continous learning and delivery of excellent work is our motto </a> </h2>
    <p> The time chat below attemps to summarize my academic journey. It is however not a complete representetaion of my capabilities.
      <table id="t01" style="width:100%">
        <tr>
          <th>Job</th>
          <th>Category</th>
          <th>Brief Description</th>
        </tr>
        <tr>
          <td>Questionnair Assessment</td>
          <td>Academic (Masters)</td>
          <td>Perfoming reliability and validity tests using Cronbach alpha values and Factor analysis</td>
        </tr>
        <tr>
          <td>Research Mentorship</td>
          <td>Academic (Masters)</td>
          <td>Provide continous guidance as you navigate your research studies. From helping to navigate supervisor relationships to helping 
            you accelerate your analysis while aiming for your understanding and appreciation of the research process</td>
        </tr>
        <tr>
          <td>Questionaire assessment and data analysis as per objectives</td>
          <td>Academic (PhD)</td>
          <td>Performed logistic regression and both the Chi-square test for independence and goodness of fit to establish
            relationships between various variables and outcomes of a single variable. 
          </td>
        </tr>    
      </table>
    </p>
    <p>
     <h2 class="biog"><a name="bbal" >  Personal Projects </a></h2>
       Driven by our motto, to provide useful solutions we have and are still engaging in different projects that 
       aim to provide practicle value to help elevate our communities.
        <ul>
           <li> The OFC analytics website: To ensure that our research and developed data solutions reach our clients
            we are continually developing this website to share experimentally tested research results and data solutions
          for improved productivity. The site is developed using python (Mostly flask) and HTML, with help from the 
          bootstrap librarys' starter templates.</li>
                     
        </ul>
      </p>
  <p>
      <h2 class="biog"> <a name="pass" >Prospective projects </a> </h2>
      I am facinated by how much we humans are capable of achieving, from mare thought  to beautiful manifestations. My passion lives in
      activities that help me to constantly access this ability more regulary. The main idea of making things happen is what has pushed my
      passions in gardening, landscapping and agriculture. Displayed here are images of some landscapping and gardening.
      <div class="row">
        <div class="column">
          <img src="img/garden.jpg" alt="" style="width:100%;height:230px;">
        </div>
        <div class="column">
          <img src="img/tht.jpg" alt="" style="width:100%;height:230px;">
        </div>
        <div class="column">
          <img src="img/ord.jpg" alt="" style="width:100%;height:230px;">
        </div>
        <div class="column">
          <img src="img/tom.jpg" alt="" style="width:100%;height:230px;image-orientation:90deg;">
        </div>
      </div>
  </p>

</main>

{% endblock content%}
