{% extends "layout.html" %}
{% block content %}

 <header class="masthead" style="background-image: url('{{ url_for('static', filename='contact5.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1> Open for business</h1>
            <span class="subheading"> All that we know, we do to service the world. In such we find growth for ourselves. </span>
          </div>
        </div>
      </div>
    </div>
  </header>

<p>Find me on 0788418225 or sillsfelix18@gmail.com</p>
{% endblock content%}
