{% extends "layout.html" %}
{% block content %}
 <header class="masthead" style="background-image: url('{{ url_for('static', filename='graphs_coverpage.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1> Ofc Analytics </h1>
            <span class="subheading">Freelance analytics solutions for informed decision making</span>
          </div>
        </div>
      </div>
    </div>
  </header>

{%endblock content%}
