{% extends "layout.html" %}
{% block content %}
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='poetry.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1> Art with words </h1>
            <span class="subheading"> In creative writing, I find the vents for the oceans of my mind</span>
          </div>
        </div>
      </div>
    </div>
  </header>
   <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              That which I was looking for I have finally found!!
            </h2>
            <h3 class="post-subtitle">

            </h3>
          </a>
          <p class="post-meta">I have found it, that which I was looking for. That which keeps me late at night without realization.
            That which sends my mind into exciting shower thoughts. The one thing in which obsession and enthusiasm overpowers fear.
            Deep data dives, visualization and pattern discovery in datasets. Not to mention how model development regenerates creative thought,
            while their deployments enhances the sense of positive participation to humanity. In these facets I feel complete, for both my skills and
            interests blend carefully.
          </div>
        <hr>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              See then beyond the physical conception of the eye!!
            </h2>
            <h3 class="post-subtitle">

            </h3>
          </a>
          <p class="post-meta">Blinded by my past conceptions of reality,
              most of which were the silent imprints of my society while others
              where acts of my own doing.
              How then will I bring my self to a new sight?
              I know a better side exists and ways to tap therein.
              I have seen it, and by the hands of the great I have been groomed.

              It feels like a battle from within,
              My prior social constructs are no more useful

              Upon dawning unto my consciousness I begin to see the hypnotic touches of society.
              It was only until then that I started defining my truth
              and watching carefully my thoughts and impulses.

              To find such truth free's once soul from the search of oneself,
              while simultaneously rendering them the ability to share their best self to the world throw talents and skills.

              Forward is the direction even when we tumble.
            </p>
          </div>
        <hr>
{% endblock content%}
