{% extends "layout.html" %}
{% block content%}
 <header class="masthead" style="background-image: url('{{ url_for('static', filename='sport3.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1> Keep fit </h1>
            <span class="subheading"> The ever required need to keep improving spills over to other facets of life </span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock content %}
